body {
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}

ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#green {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
  }
  
  #orange {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    
  }
  
  #yellow {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  #red {
    grid-column: 2;
  }
  
  #blue {
    grid-row: 2 / 4; 
  }
