@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main {
  height: 100vh;
  font-family: "Montserrat";
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100vh;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(170, 170, 170, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  height: 15%;
  width: 100%;
  background-color: #b3b2b3;
  /* background: linear-gradient(to right, rgba(191,191,191,1) 0%, rgba(214,214,214,1) 100%); */
  border-radius: 25px 25px 0px 0px;
}

.name_date {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  margin: 10px 0px 10px 10px;
}

.date {
  font-size: 11px;
  color: rgb(226, 226, 226);
}

.dots {
  margin-left: auto;
  margin-right: 5px;
}

.dots > img {
  width: 20px;
  height: 20px;
}

.img {
  height: 55%;
}

.img > img {
  width: 100%;
  object-fit: cover;
}

.footer {
  gap: 10px;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0px 0px 20px;
}

.comment img {
  width: 12px;
  height: 12px;
}

.heart img {
  width: 13px;
  height: 13px;
}

.paragraph {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 375px) {
  section {
    flex-wrap: wrap;
  }
}

