body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(32, 31, 34);
    height: 50px;
    border-bottom: 2px solid white;
}

ul {
    display: flex; 
    align-self: center;
}

form {
    align-self: center;
    justify-content: flex-end;
    margin-right: 10px;
}

li,
a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
}

.color {
    color: grey;
}

.color2 {
    color: rgb(72, 72, 72);
}

input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

::placeholder {
    padding: 10px;
    font-size: 17px;
}

button {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    font-size: 17px;
}

button:hover {
    background-color: black;
    border: 3px solid green;
    color: white;
}
